.todo-list-item {
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   &__label {
      user-select: none;
   }
   &__btn {
      width: 40px;
      height: 40px;
      margin: 0 5px;
   }
   .done &__label{
      text-decoration: line-through;
   }
   .important &__label{
      font-weight: bold;
      color: red;
   }
}